* {
    box-sizing: border-box;
}

body {
    background: url(images/car.png) no-repeat fixed center; 
    background-size: cover; 
}

.img-container {
    position: relative;
}

.img-container img {
    border-radius: 50%;
    position: absolute;
    height: 100%;
}

.selected-ride-img-container img {
    object-fit: cover;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.spacer {
    flex: 1;
}